.card
{
    border:none;
    width:500px;
    padding: 40px;
    position: absolute;
    top:70%;
    left:50%;
    transform: translate(-50%, -50%);
    background: hsla(205, 46%, 30%, 1);
    background: linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(260, 29%, 36%, 1) 100%);

}
.card h1,h6{
    color:#fff;
}
label,a{
    color: #fff;
}



header img{
    float:left
}
.navbar{
    background-color: rgb(0, 0, 50);
    color: white;
    height: auto;
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    display: block;
    
}
.navbar-nav1{
    flex-direction: row;
}
.btn{
    color: white;
}
.btn:hover{
    color:black;
    background-color: white;  
}
