<!-- <div class="container-fluid">
    <header>
        <nav class="navbar ">
            <div class="container-fluid">
                <div class="nav navbar-nav1"> 
                  <a  class="nav-link btn" routerLink="home"><i class="bi bi-house-door"></i>Home</a>      
                </div>
                <div>
                  <h2>Smart-Shopping</h2>
                </div>
                <div class="nav navbar-nav1">
                    <a  class="nav-link btn" routerLink="login"><i class="bi bi-person"></i>SignOut</a>
                    <a  class="nav-link btn" style="cursor:pointer" (click)="countercart($event);"><i class="bi bi-cart4"></i>[{{cartItemsCount}}] Cart</a>
                </div>
            </div>
        </nav>
    </header>
    
</div>
 -->

 
 <div class="container-fluid">
    <header>
      <nav class="navbar ">
          <div class="container-fluid">
              <div class="nav navbar-nav1">
                  <!-- <a href="#" >
                      <img src="../assets/LOGO.gif">                       
                  </a> -->
                  <a  class="nav-link btn" routerLink="home"><i class="bi bi-house-door"></i>Home</a>       
              </div>
              <form>
                <!-- <div class="input-group">
                 <span class="input-group-text"><i class="bi bi-search"></i></span>
                  <input type="text" class="form-control" placeholder="Search Here..."> 
                 
                </div> -->
              </form>
              <div>
                <h2>Smart-Shopping</h2>
              </div>
              <div class="nav navbar-nav1">
                  <a  class="nav-link btn" routerLink="login"><i class="bi bi-person"></i>Login</a>
                  <a  class=" nav-link btn " routerLink="register"><i class="bi bi-person"></i>SignUp</a>
                 <!-- <a  class=" nav-link btn " routerLink="addtocart"><i class="bi bi-cart4"></i>Cart</a> -->
  
              </div>
          </div>
      </nav>
  </header>
    <!-- <ul class="nav nav-pills flex-column justify-content-center">
      <li class="nav-item">
        <a class="nav-link" routerLink="home"><i class="bi bi-house-door"></i>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="shopping">Shopping Catalog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="cartproducts">Cart Products</a>
      </li>
      
    </ul> -->
  </div>
  
  